{% extends 'base.html' %}

{% block content %}

<!-- Header-->
{% include 'mainheader.html' %}
<br/>
<div class="container mt-5" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8">

            <div class="d-flex flex-column gap-4">

                <!-- Order Summary Card -->
                <div class="card">
                    <div class="card-header" style="background-color: #e0a165;color: white;">
                        Order Summary
                    </div>
                    <div class="card-body">
                        {% for product in cart_products %}
                            <div class="d-flex justify-content-between">
                                <div>
                                    <p style="color: #e0a165;">{{ product.name }}</p>
                                    {% if product.is_sale %}
                                    <div class="text-success">₹{{ product.sale_price }}</div>
                                    {% else %}
                                    <div>₹{{ product.price }}</div>
                                    {% endif %}
                                    <small> Quantity:
                                        {% for key, value in quantities.items %}
                                            {% if key == product.id|slugify %}
                                                {{ value }}
                                            {% endif %}
                                        {% endfor %}
                                    </small>
                                </div>
                            </div>
                            <hr/>
                        {% endfor %}
                        <div class="fw-bold">Total: ₹ {{ totals }} </div>
                        <br/>
                        <a href="{% url 'cart_summary' %}" class="btn btn-sm" style="background-color: #e0a165;color: white;">Update items</a>
                    </div>
                </div>

                <!-- Shipping Information Card -->
                <div class="card">
                    <div class="card-header" style="background-color: #e0a165;color: white;">
                        Shipping Information
                    </div>
                    <div class="card-body">
                        <p>Name: {{ shipping_info.shipping_full_name }}</p>
                        <p>Email: {{ shipping_info.shipping_email }}</p>
                        <p>Address Line 1: {{ shipping_info.shipping_address1 }}</p>
                        <p>Address Line 2: {{ shipping_info.shipping_address2 }}</p>
                        <p>City: {{ shipping_info.shipping_city }}</p>
                        <p>State: {{ shipping_info.shipping_state }}</p>
                        <p>Zipcode: {{ shipping_info.shipping_zipcode }}</p>
                        <p>Country: {{ shipping_info.shipping_country }}</p>
                        <br/>
                        <a href="{% url 'checkout' %}" class="btn" style="background-color: #e0a165;color: white;">Update Shipping</a>
                    </div>
                </div>

                <!-- Payment Info Card -->
                <div class="card">
                    <div class="card-header">
                        Enquiry Info
                    </div>
                    <div class="card-body">
                        <form method="POST" action="{% url 'process_order' %}">
                            {% csrf_token %}
                            <div class="d-flex flex-column align-items-center gap-2">
                                <button type="submit" name="pay_now" class="btn btn-secondary w-50 w-md-auto mt-2">
                                    Click to Send Message
                                </button>
<!--<button type="submit" onclick="sendCartToWhatsApp()" name="pay_now" class="btn btn-secondary w-50 w-md-auto mt-2">-->
<!--                                    Pay Now-->
<!--                                </button>-->
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

<!--<script>-->
<!--  function sendCartToWhatsApp() {-->
<!--  var cartData = "Greetings! My shopping cart details are as follows:\n\n";-->
<!--  // Loop through the regular cart items-->
<!--  {% for item in order_items %}-->
<!--cartData += "Product Name: {{ item.product.name }}\n";-->
<!--cartData += "Quantity: {{ item.quantity }}\n\n";-->
<!--cartData += "Price: ₹{{ item.price }}\n";-->
<!--  {% endfor %}-->

<!--  var whatsappURL = "https://wa.me/+919100177915?text=" + encodeURIComponent(cartData);-->
<!--    window.open(whatsappURL, '_blank');-->
<!--}-->

<!--</script>-->


{% endblock %}