{% extends 'base.html' %}

{% block content %}

<!-- Header-->
{% include 'mainheader.html' %}
<br/>
<div class="container mt-5">

<div class="row">
    <div class="col-12 col-md-8 offset-md-2">
        <br /><br />

        <!-- Order Summary -->
        <div class="card">
            <div class="card-header">
                Order Summary
            </div>
            <div class="card-body">
                {% for product in cart_products %}
                    {{ product.name }}
                    {% if product.is_sale %}
                        ${{ product.sale_price }}
                    {% else %}
                        ${{ product.price }}
                    {% endif %}
                    <br/>
                    <small> Quantity:
                        {% for key, value in quantities.items %}
                            {% if key == product.id|slugify %}
                                {{ value }}
                            {% endif %}
                        {% endfor %}
                    </small>
                    <br/><br/>
                {% endfor %}
                <strong>Total: $ {{ totals }} </strong>
                <br/><br/>
                <a href="{% url 'cart_summary' %}" class="btn btn-sm btn-outline-secondary">Update items</a>
            </div>
        </div>
        <br/>

        <!-- Shipping Information -->
        <div class="card">
            <div class="card-header">
                Shipping Here:
            </div>
            <div class="card-body">
                Name: {{ shipping_info.shipping_full_name }}<br/>
                Email: {{ shipping_info.shipping_email }}<br/>
                Address 1: {{ shipping_info.shipping_address1 }}<br/>
                Address 2: {{ shipping_info.shipping_address2 }}<br/>
                City: {{ shipping_info.shipping_city }}<br/>
                State: {{ shipping_info.shipping_state }}<br/>
                Zipcode: {{ shipping_info.shipping_zipcode }}<br/>
                Country: {{ shipping_info.shipping_country }}<br/>
                <br/>
                <a href="{% url 'checkout' %}" class="btn btn-outline-secondary">Update Shipping</a>
            </div>
        </div>
        <br/>

        <!-- Payment and Cancel Buttons -->
        <div class="card">
            <div class="card-header">
                Payment Info:
            </div>
            <div class="card-body">
                <form method="POST" action="{% url 'process_order' %}">
                    {% csrf_token %}
                    <button type="submit" name="pay_now" class="btn btn-primary w-50 w-md-auto">Pay Now</button>
                    <button type="submit" name="cancel" class="btn btn-secondary w-50 w-md-auto mt-2">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}
