<!-- templates/admin/analytics.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analytics Dashboard</title>
</head>
<body>
    <h1>Sales & Analytics Dashboard</h1>
    <h2>Total Sales: ₹{{ total_sales }}</h2>
    <h2>Total Orders: {{ total_orders }}</h2>

    <div>
        <h3>Product Sales</h3>
        <div>
            <!-- Plotly graph -->
            {{ graph_html|safe }}
        </div>
    </div>
</body>
</html>
