{% load static %}

<footer id="contact" class="footer-distributed text-dark py-4" style="background-color: #e0a165;">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 mb-3 text-center text-md-start"
                style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
                <img src="{% static 'img/svslogo.png' %}" width="80px" alt="Logo" class="d-block mx-auto">
                <h5 class="mt-2" style="font-size: 30px; color: white; text-align: center;">Sri SVS Jewellerys</h5>
                <div class="d-flex align-items-start flex-column">
                    <div class="d-flex align-items-center mb-1">
                        <i class="fa fa-map-marker me-2" style="font-size: 20px; color: white;"></i>
                        <p class="mb-0" style="font-size: 15px; color: white;">
                            <span>1-13-131/BN, S Rd Number 8, RK Puram,</span><br>
                            Kothapet, Hyderabad, Telangana 500035
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-2 text-start"
                style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
                <b style="font-size: 18px; color: black; position: relative; display: inline-block;"
                    onmouseover="this.style.setProperty('--hover-line-width', '100%')"
                    onmouseout="this.style.setProperty('--hover-line-width', '0%')">
                    Categories
                    <span
                        style="content: ''; position: absolute; bottom: -2px; left: 0; width: var(--hover-line-width, 0); height: 2px; background-color:white; transition: width 0.3s ease-in-out;"></span>
                </b>
                <ul class="list-unstyled" style="line-height: 2.2rem; color: white;">
                    <li>Earrings</li>
                    <li>Necklaces</li>
                    <li>Bracelets</li>
                    <li>Bangles</li>
                    <li>Diamond Rings</li>
                </ul>
            </div>

            <div class="col-12 col-md-4 text-start"
                style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
                <b style="font-size: 18px; color: black; position: relative; display: inline-block;"
                    onmouseover="this.style.setProperty('--hover-line-width', '100%')"
                    onmouseout="this.style.setProperty('--hover-line-width', '0%')">
                    Contact Us
                    <span
                        style="content: ''; position: absolute; bottom: -2px; left: 0; width: var(--hover-line-width, 0); height: 2px; background-color:white; transition: width 0.3s ease-in-out;"></span>
                </b>
                <ul class="list-unstyled" style="line-height: 2.2rem; color: white;">
                    <li>Email: srisvspearls@gmail.com</li>
                    <li>Phone: +91 7416495424
                    <li> Adress: 1-13-131/BN, S Rd Number 8, RK Puram,Kothapet,Hyderabad,Telangana 500035
                    </li>
                </ul>
            </div>

            <div class="col-12 col-md-2 text-start"
                style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
                <b style="font-size: 18px; color: black; position: relative; display: inline-block;"
                    onmouseover="this.style.setProperty('--hover-line-width', '100%')"
                    onmouseout="this.style.setProperty('--hover-line-width', '0%')">
                    Follow us on:
                    <span
                        style="content: ''; position: absolute; bottom: -2px; left: 0; width: var(--hover-line-width, 0); height: 2px; background-color:white; transition: width 0.3s ease-in-out;"></span>
                </b>
                <div class="d-flex flex-column gap-3">
                    <div class="d-flex align-items-center">
                        <span style="color: white; font-size: 16px; margin-right: 8px;">Instagram</span>
                        <a href="https://www.instagram.com/srisvspearl/" class="fa fa-instagram social-link"
                            style="background-color: #E4405F; color: white; font-size: 16px; padding: 8px; width: 40px; height: 40px; border-radius: 50%; display: inline-flex; justify-content: center; align-items: center;">
                        </a>
                    </div>
                    <div class="d-flex align-items-center">
                        <span style="color: white; font-size: 16px; margin-right: 8px;">Facebook</span>
                        <a href="https://www.facebook.com/people/SRI-SVS-Pearls/61552488961249/"
                            class="fa fa-facebook social-link"
                            style="background-color: #3B5998; color: white; font-size: 16px; padding: 8px; width: 40px; height: 40px; border-radius: 50%; display: inline-flex; justify-content: center; align-items: center;">
                        </a>
                    </div>

                    <div class="d-flex align-items-center">
                        <span style="color: white; font-size: 16px; margin-right: 8px;">Twitter</span>
                        <a href="https://x.com/SriSvr34100" class="fa fa-twitter social-link"
                            style="background-color: #55ACEE; color: white; font-size: 16px; padding: 8px; width: 40px; height: 40px; border-radius: 50%; display: inline-flex; justify-content: center; align-items: center;">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>