{% extends 'base.html' %}

{% block content %}

{% include 'mainheader.html' %}
<br />
{% include 'trending-slides.html' %}


<hr />
{% include 'home-thumbnail1.html' %}
<hr />
{% block css %}

{% include 'special-products.html' %}
<hr />




{% endblock %}
{% include 'frontend-carousel.html' %}
<br />
<hr />

<center>
    <div class="container reviews-section" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
        <h2 class="text-center"></h2>
        <div class="row mb-4 customer-stats"
            style="background-color: #e0a872; padding: 20px; border-radius: 5px; max-width: 1000px; margin: auto; font-family: mono space;">
            <div class="col-12 col-md-4 d-flex justify-content-center justify-content-md-start">
                <h5>
                    <i class="bi bi-people-fill"></i>
                    <span>Total Customers: </span>
                    <span id="total-customers" class="badge">{{ total_customers }}+</span>
                </h5>
            </div>
            <div class="col-12 col-md-4 d-flex justify-content-center justify-content-md-end">
                <h5>
                    <i class="bi bi-peace-fill"></i>
                    <span>Happy Customers:</span>
                    <span id="happy-customers" class="badge">{{ happy_customers }}+</span>
                </h5>
            </div>
            <div class="col-12 col-md-4 d-flex justify-content-center justify-content-md-end">
                <h5>
                    <i class="bi bi-star-fill"></i>
                    <span>Customer Reviews:</span>
                    <span id="happy-customers" class="badge">4.8</span>
                </h5>
            </div>
        </div>

        <h3 class="text-center" style="font-family: Georgia, 'Times New Roman', Times, serif;">What Our Customers Are
            Saying</h3>

        <div class="row justify-content-center mt-4">
            {% for review in reviews %}
            <div class="col-md-4">
                <div class="card mb-4 review-card" style="position: relative; overflow: hidden;">

                    <div style="
                        position: absolute; 
                        top: 0; 
                        left: 0; 
                        width: 40px; 
                        height: 40px; 
                        background-color:#c98c54; 
                        border-top-left-radius: 10px; 
                        display: flex; 
                        align-items: center; 
                        font-family: Georgia, 'Times New Roman', Times, serif;
                        justify-content: center;">
                        <span class="bi bi-quote" style="color: white; font-size: 18px;"></span>
                    </div>

                    <div class="card-body" style="position: relative;">
                        <p style="font-style: italic;margin-top: 25px;">" {{ review.review }} "</p>
                        <hr style="border-color: black;" />
                        <h5 class="card-title text-center" style="margin-top: 10px;">{{ review.customer_name }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted text-center">Rating:
                            {% for i in review.filled_stars %}
                            <span class="bi bi-star-fill" style="color: #f1a500;"></span>
                            {% endfor %}
                            {% for i in review.empty_stars %}
                            <span class="bi bi-star"></span>
                            {% endfor %}
                        </h6>
                        <p class="card-text" style="text-align: center;">{{ review.review_text }}</p>
                    </div>
                </div>
            </div>
            {% empty %}
            <p class="text-center">No reviews available.</p>
            {% endfor %}
        </div>

    </div>
</center>


<hr />
<div class="py-8 ">
    <div class="container">
        <div class="row">
            <div class="offset-xl-3 col-xl-6 col-md-12">
                <div class="text-center mb-8">

                </div>

            </div>
        </div>


        <div class="row bg bg-transparent">
            <div class="col-md-6 col-12">
                <div class="card mb-6 mb-lg-0">
                    <div class="card-body p-6">
                        <video width="100%" height="400px" style="object-fit:cover;" autoplay muted loop>
                            <source src="media/video/beats-jewellery.mp4" type="video/mp4">
                            Your browser does not support the html video tag.
                        </video>


                    </div>
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="card" style="font-family: Georgia, 'Times New Roman', Times, serif;">
                    <div class="card-body p-6">
                        <i class="mdi mdi-48px mdi-format-quote-open text-light-primary lh-1 mb-3 d-block"></i>
                        <p class="fs-8 text-dark fw-semibold" align="center">"Dear valued customers, Thank You for
                            choosing SriSvs for your jewellery needs! We are thrilled to hear that you love our
                            collection. We look forward to dazzling you with more stunning pieces in the future! Shine
                            on with GlamourGems"</p>
                        <div class="d-flex mt-4 align-items-center">
                            <img src="media/uploads/product/cropped-SRISVSLOGO-removebg-preview.webp" alt=""
                                class="rounded-circle" style="width: 150px;" alt="Avatar">
                            <div class="ms-2">
                                <h5 class="text-primary mb-0">Kammisetty Sunitha</h5>
                                <p class="mb-0 fs-6">Managing Director</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />

{% endblock %}