<!-- Header -->
<header class="py-3" style="background-color:white;">
    <div id="productnames" class="container-fluid">
        <button class="header-toggler d-md-none " type="button" data-bs-toggle="collapse" data-bs-target="#headerNav"
            aria-controls="headerNav" aria-expanded="false" aria-label="Toggle header navigation">
            <span class="header-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-md-block" id="headerNav"
            style="background-color: white;margin-left: 10px;">
            <ul class="nav d-flex justify-content-center flex-wrap align-items-center"
                style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; gap: 10px; margin: 0; padding: 0;">
                <li class="nav-item">
                    <a class="btn" href="{% url 'category' 'Anklets' %}"
                        style="background-color: white;color: #e0a165;font-size: 14px;border-bottom: 1px solid #e0a165;">
                        Anklets
                    </a>
                </li>
                <li class="nav-item">
                    <a class="btn" href="{% url 'category' 'Bracelet' %}"
                        style="background-color: white;color: #e0a165; font-size: 14px;border-bottom: 1px solid #e0a165;">
                        Bracelet
                    </a>
                </li>
                <li class="nav-item">
                    <a class="btn" href="{% url 'category' 'Chowkers' %}"
                        style="background-color: white; color: #e0a165;font-size: 14px;border-bottom: 1px solid #e0a165;">
                       Chowkers
                    </a>
                </li>
                <li class="nav-item">
                    <a class="btn" href="{% url 'category' 'Earrings' %}"
                        style="background-color: white; color: #e0a165;font-size: 14px;border-bottom: 1px solid #e0a165;">
                        Earrings
                    </a>
                </li>
                <li class="nav-item">
                    <a class="btn" href="{% url 'category' 'Fancy Jewellery' %}"
                        style="background-color: white; color: #e0a165;font-size: 14px;border-bottom: 1px solid #e0a165;">
                        Fancy Jewellery
                    </a>
                </li>
                <li class="nav-item">
                    <a class="btn" href="{% url 'category' 'Pure Pearls' %}"
                        style="background-color: white; color: #e0a165;font-size: 14px;border-bottom: 1px solid #e0a165;">
                    Pure Pearls(Beads)
                    </a>
                </li>

                <li class="nav-item">
                    <a class="btn" href="{% url 'category' 'Pendants Jewellery' %}"
                        style="background-color: white; color: #e0a165;font-size: 14px;border-bottom: 1px solid #e0a165;">
                        Pendants Jewellery
                    </a>
                </li>
                <li class="nav-item">
                    <a class="btn" href="{% url 'category' 'Traditional Jewellery' %}"
                        style="background-color: white; color: #e0a165;font-size: 14px;border-bottom: 1px solid #e0a165;">
                        Traditional Jewellery
                    </a>
                </li>
                <li class="nav-item">
                    <a class="btn" href="{% url 'category' 'Thread Jewellery' %}"
                        style="background-color: white;color: #e0a165;font-size: 14px;border-bottom: 1px solid #e0a165;">
                        Thread Jewellery
                    </a>
                </li>
                <!-- <li class="nav-item">
                    <a class="btn" href="{% url 'category' 'Unique Jewellery' %}"
                        style="background-color: white; color: #e0a165;font-size: 14px;border-bottom: 1px solid #e0a165;">
                        Unique Jewellery
                    </a>
                </li> -->

            </ul>
        </div>
    </div>
</header>